.wrap{
    width: 1400px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background: #000000;
}
.navigation{
    display: flex;
    align-items: center;
    margin-right: 170px;
}

.navigation__item {
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.logo {
    width: 83px;
    height: 30.69px;
    margin: 22px 115px;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

span {
    text-transform: uppercase;
    color: #EC7979;
}

.section__city {
    display: flex;
    justify-content: space-around;
    height: 951px;
    background-image: url(../img/city-big.png);
}
.section__city-container, .form {
    margin-top: 208px;
}
.section__city-title{
    width: 102px;
    height: 55px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section__city-subtitle {
    width: 670px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.line-top {
    width: 170px;
    margin: 0;
    border: 1px solid #FFFFFF;
}
.section__city-text {
    width: 270px;
    margin-top: 42px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.section__city-button{
    width: 270px;
    height: 60px;
    margin-top: 42px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
}

.form__city {
    width: 470px;
    height: 450px;
    margin-top: 208px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.form__city-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
}

.form__wrapper {
    margin: 50px;
}
.form__login {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 25px;
    color: #BDBDBD;
}

.form__line {
    margin-bottom: 25px;
}
.form__submit {
    width: 470px;
    height: 60px;
    margin-top: 95px;
    background-color: #EC7979;
    border-radius: 0px 0px 10px 10px;
}

.form__submit-text {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    background: #F8EFEF;

}

.social__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.social__info {
    width: 470px;
    margin-left: 170px;
}

.social__text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social__item-facebook {
background-image: url(../img/facebook.png);
margin-right: 45px;
list-style: none;
width: 30px;
height: 55px;
}
.social__item-twitter {
    background-image: url(../img/twitter.png);
    margin-right: 45px;
    list-style: none;
    width: 57px;
    height: 46px;  
}
.social__item-linkedin {
    background-image: url(../img/linkedin.png);
    margin-right: 45px;
    list-style: none;
    width: 52px;
    height: 52px;    
}
.social__item-png {
    background-image: url(../img/png.png);
    margin-right: 45px;
    list-style: none;
    width: 58px;
    height: 58px;  
}
.social__item-instagram {
    background-image: url(../img/instagram.png);
    margin-right: 45px;
    list-style: none;
    width: 52px;
    height: 52px; 
}
.social__item-github {
    background-image: url(../img/github.png);
    margin-right: 45px;
    list-style: none;
    width: 58px;
    height: 56px;
}
.social__item-atom {
    background-image: url(../img/atom.png);
    margin-right: 45px;
    list-style: none;
    width: 45px;
    height: 45px;  
}

.social__list {
    display:flex;
    margin-right: 182px;

}

.feautures__container {
    display: flex;
    flex-direction: column;
}

.feautures__tabs {
    display: flex;
    justify-content: flex-start;
    margin-left: 252px;
    margin-top: 100px;
}
.tabs-button {
    margin-right: 155px;
}

.feauters__info {
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
    display: flex;
    width: 1170px;
    height: 501px;
    margin: 0 170px;
}

.feautures__image{
    background-image: url(../img/citysmall.png);
    width: 470px;
    height: 500px;
}

.feautures__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

.feautures__description {
    font-family: 'Open Sans', sans-serif;
    width: 570px;
    height: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.feauters__info-description {
    margin-left: 100px;
}

.feautures__button-download {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    border: #EC7979;
    color: #FFFFFF;
}

.our-process {
display: flex;
flex-direction: column;
margin-top: 50px;
}
.card-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
    
}
.our-process__line {
    width: 170px;
    height: 0px;
    left: 671px;
    top: 2003px;
    border: 1px solid #EC7979;
    margin-bottom: 40px;
}
.our-process__text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.card__container {
    display: flex;
    margin-top: 110px;
}

.card__description-icon-light {
    background: url(../img/light.png) no-repeat center;
    margin: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    box-sizing: border-box;
    border-radius: 50%;
}

.card__description-icon-keyboard {
    background: url(../img/keyboard.png) no-repeat center;
    margin: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    box-sizing: border-box;
    border-radius: 50%;
}

.card__description-icon-lightning {
    background: url(../img/lighting.png) no-repeat center;
    margin: auto;
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    box-sizing: border-box;
    border-radius: 50%;
}

.card__description {
    text-align: center;
}

.card__description-subtitle {
    font-family: 'Open Sans', sans-serif;
    margin-top: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.pricing {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #F5F5F5;;
}

.pricing__line {
    width: 170px;
    height: 0px;
    left: 671px;
    top: 2003px;
    border: 1px solid #EC7979;
    margin-bottom: 40px;
}

.pricing__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.pricing__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.pricing-container {
    display: flex;
    margin-top: 110px;
    justify-content: space-around;
}

.pricing-container-z {
    position: relative;
    top: -20px;
}

.pricing-container-our {
    text-align: center;
    
}

.pricing-container-top{
    width: 370px;
    height: 50px;
    background: #333333;
    margin-bottom: 10px;
}

.pricing-container-title-1 {
    width: 52px;
    height: 27px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 8px;
}

.pricing-container-title-2 {
    width: 52px;
    height: 27px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 8px;
}

.pricing-container-title-3 {
    width: 52px;
    height: 27px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 8px;
}

.rectangle-price {
    width: 370px;
    height: 100px;
    background: #333333;
    margin-bottom: 10px;

}

.title-price {
    width: 44px;
    height: 41px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 26px;
}

.rectangle-pricing-top {
    width: 370px;
    height: 50px;
    background: #333333;
    margin-bottom: 10px;
}

.subtitle-price {
    width: auto;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    padding-top: 17px;
}

.rectangle-pricing-bottom {
    width: 370px;
    height: 50px;
    background: #FFFFFF;
    margin-bottom: 5px;
}

.subtitle-price {
    width: auto;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    padding-top: 17px;
}

.our-process {
    width: 1400px;
    height: 600px;
}


.our-process__line {
    width: 170px;
    height: 0px;
    left: 671px;
    top: 2003px;
    border: 1px solid #EC7979;
    margin-bottom: 40px;
}

.our-process__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.card-customers {
    display: flex;
    margin-top: 83px;
    justify-content: space-around;
}


.card-review {
    width: 370px;
    height: 180px;
    margin-right: 30px;
    background: #E2E2E2;
    border-radius: 10px;
}

.card-review__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}

.subtitle-manager {
    padding-left: 220px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
}

.image--avatar-1 {
    width: 70px;
    height: 70px;
    background-image: url(../img/Davis.png);
}

.image--avatar-2 {
    width: 70px;
    height: 70px;
    background-image: url(../img/Jaydon.png);
}

.image--avatar-3 {
    width: 70px;
    height: 70px;
    background-image: url(../img/Cooper.png);
}

.card__testimonial {
    display: flex;
    justify-content: center;
}

.card__testimonial-autor {
    display: flex;
    justify-content: space-between;
    margin-top: 103px;
}

.container {
    margin-top: 120px;
}


.city-small__container {
    width: 1400px;
    height: 442px;
    text-align: center;
    background-image: url(../img/city-small.png);
}

.city-small__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 70px;
}
    

.city-small__line {
    width: 170px;
height: 0px;
color: #FFFFFF;
}

.city-small__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: #FFFFFF;
}

.city-small__button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    width: 370px;
    height: 58px;
    margin-top: 103px;
    text-transform: capitalize;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
}

.contact-our__line {
    width: 170px;
    height: 0px;
    left: 671px;
    top: 2003px;
    border: 1px solid #EC7979;
    margin-bottom: 40px;
}

.contact-our__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.contact-our__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.form-right__text {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #BDBDBD;
margin-top: 60px;
}

.form-right__line {
    border: 1px solid #BDBDBD;
    width: 571px;
    height: 3px;
    margin-top: 19px;
}

.form__button-contact {
width: 370px;
height: 58px;
background: #EC7979;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
margin-left: 570px;
border:  #EC7979;
}

.form {
    display: flex;
    margin-top: 50px;
}

.form-right {
    margin-left: 169px;
}

.form-left__line {
    border: 1px solid #BDBDBD;
    width: 571px;
    height: 3px;
    margin-top: 225px;
}

.form-left {
    margin-left: 30px;
}


.footer-black {
    background: #000000;
    width: 1510px;
    height: 164px;
}

.footer-black__link {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.footer-black__copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

}